.KnapsackCalculator {
    /* flex */
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    /* spacing */
    height: 100vh;
    padding: 5%;
    /* design */
    background-color: #82c3ff;
    /* other */
    font-family: 'Courier New', monospace;
}

/* HEADER */

.header_top {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.header1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header1-input {
    display: flex;
    width: 10%;
}

#target-input {
    background-color: #82c3ff;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.header2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header2-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.header2-value {
    font-size: 1.1em;
    font-weight: bold;
}

/* FORM & INPUTS */

form {
    width: 100%;
    padding: 5%;
}

.input_group {
    /* spacing */
    display: flex;
    margin: 2% 0%;
    padding: 2.5% 0% 2.5% 0%;
    /* design */
    background-color: #fefefe;
    border-radius: 15px;
    box-shadow: 2px 5px 2px 0 rgb(0 0 0 / 10%);
    transition: filter 0.2s ease;
}

#selected.input_group {
    background-color: #ffdc00;
}

.input_group-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pin.input_group-section {
    flex: 1;
    padding: 0% 0% 0% 1%;
    justify-content: center;
    align-items: center;
}

#name.input_group-section {
    flex: 5;
    padding: 0% 2.5% 0% 0%;
}

#price.input_group-section {
    flex: 2;
    padding: 0% 0% 0% 0%;
}

#close.input_group-section {
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0% 1% 0% 0%;
}

.pin_icon {
    /* spacing */
    height: 18px;
    width: 18px;
    /* design */
    transition: filter 0.2s ease;
}

.pin_icon:hover {
    cursor: pointer;
    filter: brightness(120%);
}

#unselected.pin_icon {
    content:url('./images/icons8-unchecked-checkbox-48.png');
}

#selected.pin_icon {
    content:url('./images/icons8-checked-checkbox-48.png');
}

.input_group-label {
    margin-right: 2%;
}

input {
    /* spacing */
    width: 100%;
    /* design */
    outline: none;
    border: none;
    /* other */
    font-family: 'Courier New', monospace;
    font-size: 1em;
    overflow-wrap: break-word;
}

#selected.input_group-input {
    background-color: #ffdc00;
}

.remove_icon {
    /* spacing */
    height: 18px;
    width: 18px;
    /* design */
    content:url('./images/icons8-cancel-48.png');
    transition: filter 0.2s ease;
}

.remove_icon:hover {
    cursor: pointer;
    filter: brightness(120%);
}

/* BUTTONS */

.button_group {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: 35%;
}

.button {
    /* spacing */
    margin: 5% 0% 5% 0%;
    padding: 2.5% 5% 2.5% 5%;
    /* design */
    background-color: #ffdc00;
    border-radius: 10px;
    box-shadow: 2px 5px 2px 0 rgb(0 0 0 / 10%);
    transition: filter 0.2s ease;
    text-align: center;
}

.button:hover {
    cursor: pointer;
    filter: brightness(120%);
}
