.KnapsackCalculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

form {
    padding: 5%;
}

.input_group {
    display: flex;
}

.input_group-selected {
    border-color: red;
    border-style: solid;
}

.input_group-section {
    display: flex;
    padding: 5%;
}

.input_group-label {
    margin-right: 2%;
}
