.KnapsackCalculator {
    /* flex */
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    /* spacing */
    height: 100vh;
    padding: 5%;
    /* design */
    background-color: #82c3ff;
    /* other */
    font-family: 'Courier New', monospace;
}

/* HEADER */

.header_top {
    display: flex;
    /* flex-direction: column; */
    justify-items: center;
    align-items: center;
    width: 100%;
}

.header_top_main {
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0% 2.5% 0% 0%;
    background-color: #fefefe;
    border-radius: 15px;
    box-shadow: 2px 5px 2px 0 rgb(0 0 0 / 10%);
}

.header_top_main-input {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}

#target-input {
    background-color: #fefefe;
    font-weight: bold;
}

.header_top_secondary {
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header_top_secondary-section {
    /* spacing */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2.5% 0%;
    /* design */
    background-color: #fefefe;
    border-radius: 15px;
    box-shadow: 2px 5px 2px 0 rgb(0 0 0 / 10%);
}

#total.header_top_secondary-section {
    margin: 0% 0% 5% 0%;
}

.header_top_secondary-label {
    font-size: 0.75em;
}

.header_top_secondary-value {
    font-size: 1.1em;
    font-weight: bold;
}

/* MENU */

.main_menu {
    display: flex;
    width: 100%;
    padding: 3% 0% 0% 0%;
}

.menu_item-section-unselected, .menu_item-section-selected {
    display: flex;
    justify-content: center;
    align-items: center;
}

#clear-pins.menu_item-section-unselected, #clear-pins.menu_item-section-selected {
    flex: 1;
    justify-content: center;
    align-items: center;
}

#space.menu_item-section {
    flex: 5;
    padding: 0% 2.5% 0% 0%;
}

#sort.menu_item-section {
    display: flex;
    flex: 3;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    border-width: 1px;
    background-color: #f4443c;
}

.sort_button {
    color: #fff;
    font-size: 0.75em;
}

#sort.menu_item-section:hover .sort_menu {
    display: flex;
    flex-direction: column;
}

.sort_menu {
    display: none;
    position: absolute;
    z-index: 1;
}

.sort_menu div {
    display: block;
}

/* FORM & INPUTS */

form {
    width: 100%;
    padding: 0% 5% 0% 5%;
}

.input_group-unselected, .input_group-selected {
    /* spacing */
    display: flex;
    margin: 2% 0%;
    padding: 2.5% 0% 2.5% 0%;
    /* design */
    background-color: #fefefe;
    border-radius: 15px;
    box-shadow: 2px 5px 2px 0 rgb(0 0 0 / 10%);
    transition: filter 0.2s ease;
}

.input_group-selected {
    background-color: #ffdc00;
}

.input_group-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pin.input_group-section {
    flex: 1;
    padding: 0% 0% 0% 1%;
    justify-content: center;
    align-items: center;
}

#name.input_group-section {
    flex: 5;
    padding: 0% 2.5% 0% 0%;
}

#price.input_group-section {
    flex: 2;
    padding: 0% 0% 0% 0%;
}

#close.input_group-section {
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0% 1% 0% 0%;
}

.clear_pins_icon, .pin_icon-unselected, .pin_icon-selected {
    /* spacing */
    height: 18px;
    width: 18px;
    /* design */
    transition: filter 0.2s ease;
}

.clear_pins_icon {
    padding: 0% 0% 0% 17%;
}

.clear_pins_icon:hover, .pin_icon-unselected:hover, .pin_icon-selected:hover {
    cursor: pointer;
    filter: brightness(120%);
}

.clear_pins_icon {
    content:url('./images/icons8-close-window-48.png');
}

.pin_icon-unselected {
    content:url('./images/icons8-unchecked-checkbox-48.png');
}

.pin_icon-selected {
    content:url('./images/icons8-checked-checkbox-48.png');
}

.input_group-label {
    margin-right: 2%;
}

input {
    /* spacing */
    width: 100%;
    /* design */
    outline: none;
    border: none;
    /* other */
    font-family: 'Courier New', monospace;
    font-size: 1em;
    overflow-wrap: break-word;
}

.input_group-input-name-selected, .input_group-input-price-selected {
    background-color: #ffdc00;
}

.remove_icon {
    /* spacing */
    height: 18px;
    width: 18px;
    /* design */
    content:url('./images/icons8-cancel-48.png');
    transition: filter 0.2s ease;
}

.remove_icon:hover {
    cursor: pointer;
    filter: brightness(120%);
}

/* BUTTONS */

.button_group {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 2.5% 0% 0% 0%;
}

.button {
    /* spacing */
    margin: 0% 0% 0% 5%;
    padding: 3%;
    height: 1.1em;
    width: 1.1em;
    /* design */
    background-color: #ffdc00;
    border-radius: 10px;
    box-shadow: 2px 5px 2px 0 rgb(0 0 0 / 10%);
    text-align: center;
}

#add-item.button {
    content:url('./images/icons8-plus-math-90.png');
}

#calculate.button {
    content:url('./images/icons8-play-96.png');
}
